sjzs/WebRoot/WEB-INF/classes/SendSMSService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://system.service.hnzskj.com"
	xmlns:soapenc12="http://www.w3.org/2003/05/soapencoding" xmlns:tns="http://system.service.hnzskj.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:soap12="http://www.w3.org/2003/05/soapenvelope">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://system.service.hnzskj.com">
			<xsd:element name="sendSMS">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="in1"
							type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendSMSResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sendSMSResponse">
		<wsdl:part name="parameters" element="tns:sendSMSResponse" />
	</wsdl:message>
	<wsdl:message name="sendSMSRequest">
		<wsdl:part name="parameters" element="tns:sendSMS" />
	</wsdl:message>
	<wsdl:portType name="SendSMSServicePortType">
		<wsdl:operation name="sendSMS">
			<wsdl:input name="sendSMSRequest" message="tns:sendSMSRequest" />
			<wsdl:output name="sendSMSResponse" message="tns:sendSMSResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SendSMSServiceHttpBinding" type="tns:SendSMSServicePortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendSMS">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="sendSMSRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendSMSResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SendSMSService">
		<wsdl:port name="SendSMSServiceHttpPort" binding="tns:SendSMSServiceHttpBinding">
			<wsdlsoap:address location="http://192.168.0.106:8090/EasySMS/SendSMS.ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>